@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Mochiy+Pop+P+One&family=Playfair+Display&family=The+Nautigal&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(nature.jpg);
    min-height: 100vh;
    width: 100%;
    position: relative;

}
.container{
    
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: chartreuse;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
form .user-details .input-box{
    
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: cursive;
    color: cornflowerblue;
    
}
.user-details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: rgb(85, 144, 253);
   

}
.user-details .input-box textarea{
    border-color: rgb(85, 144, 253);
    border-radius: 10px;
    border: 1px solid rgb(85, 144, 253);
    
    
}


button{
    width: 80%;
    border-radius: 12px;
    padding: 10px;
    background: linear-gradient( 135deg, #71b7e6,#20b6ca);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin: 20px 10px 0px 10px;
    font-family: cursive;
    
}
