
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pushster', cursive;
    

}

   
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(gtu.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .logo span {
    font-weight: 300;
  }
.navbar{
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
} 

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-flex;
    align-self: center;
}
.logo{
    flex: 320px;
    cursor: pointer;
}
header ul{
    flex: 1;
    text-align: end;
   
}
header ul li{
    display: inline-block;
    margin: 10px 20px;
    
}
header ul li a{
    text-decoration: solid;
    color: rgb(2, 2, 2);
    border: 1px solid rgb(61, 156, 156);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 0%;   
}
.content{
    color: white;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px ;
}
.searchbox{
    position: relative;
    width: 140%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.searchbox input{
    position: relative;
    border: none;
    padding: 10px 25px;
    outline: none;
    font-size: 1.1em;
    color: #555;
    background: linear-gradient(#dbdae1 , #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
    15px 15px 15px rgba(0,0,0,0.1)
    20px 20px 20px rgba(0,0,0,0.1)
    30px 30px 30px rgba(0,0,0,0.1)
    inset 1px 1px 2px #fff
}
ion-icon{
    position: relative;
    right: 25px;
    font-size: 1.1em;
    color: #555;
    cursor: pointer;
}





